
body {
    margin: 0;
}

p{
    padding: 30px;
}

h1  {
    font-weight: normal;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}

.father {
    width: 300px;
    height: 400px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}

.lmore {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;
    border-style: solid;
    border-width: 2px;
}

.absol {
    width: 90px;
    height: 90px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    position: absolute;
    top: -65px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-house, .fa-user, .fa-wand-magic-sparkles {
    font-size: 55px;
    color: coral;
}